@font-face {
  font-family: "iconfont"; /* Project id 3282332 */
  src: url('https://at.alicdn.com/t/font_3282332_tzng7iwltx.woff2?t=1648433850394') format('woff2'),
       url('https://at.alicdn.com/t/font_3282332_tzng7iwltx.woff?t=1648433850394') format('woff'),
       url('https://at.alicdn.com/t/font_3282332_tzng7iwltx.ttf?t=1648433850394') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bianjimingcheng:before {
  content: "\e678";
}

.icon-shouji:before {
  content: "\e679";
}

.icon-dizhi:before {
  content: "\e67a";
}

.icon-fuzhi:before {
  content: "\e67b";
}

.icon-shezhi:before {
  content: "\e67c";
}

.icon-caidan:before {
  content: "\e67d";
}

.icon-shoucang:before {
  content: "\e67e";
}

.icon-shouye:before {
  content: "\e676";
}

.icon-wode:before {
  content: "\e677";
}

.icon-kanmima:before {
  content: "\e670";
}

.icon-guanbimima:before {
  content: "\e671";
}

.icon-qingchu:before {
  content: "\e672";
}

.icon-xiala:before {
  content: "\e673";
}

.icon-fanhui:before {
  content: "\e674";
}

.icon-lishijilu:before {
  content: "\e675";
}
