@import '~@/uni.scss';
$main-color:#0092EF;
$color-green:#15AC46;
$color-red: #CE2020;
$color-blue:#3186FA;
$color-gray: #666;
$color-light-gray: #ABABAB;
/* 背景颜色 */
$uni-bg-color:#ffffff;
$uni-bg-color-grey:#f8f8f8;
$uni-bg-color-hover:#f1f1f1;//点击状态颜色
$uni-bg-color-mask:rgba(0, 0, 0, 0.4);//遮罩颜色
